.wrap {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: rgb(22, 22, 212);
}
