.link {
  display: inline-block;
  text-decoration: none;
  padding: 6px 16px;
  background-color: rgb(22, 22, 212);
  /* border: 1px solid blue; */
  border: none;
  border-radius: 4px;
  /* background: linear-gradient(to bottom, blue 50%, yellow 50%); */
  background: linear-gradient(to bottom, blue 50%, rgb(190, 190, 4) 50%);
  transition: all 0.3s ease-in-out;
}

.linkRight {
  margin-left: 20px;
}

.navSpan {
  font-weight: 700;
  line-height: 1.5;
  color: white;
  /* background: linear-gradient(to bottom, yellow 50%, blue 50%); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.01rem blue; */
  transition: all 0.3s ease-in-out;
}

.link:hover,
.link:focus {
  box-shadow: 0 0 20px rgb(37, 37, 216);
}

.activeLink {
  box-shadow: 0 0 20px rgb(37, 37, 216);
}
